{{ 'custom-menu-bars.css' | asset_url | stylesheet_tag }}
<style>
 
</style>
<div class="tab-menu-bars-custom">
  <button class="close-tab-menu-bars">X</button>
  <img src="https://globo-toro.myshopify.com/cdn/shop/files/logo-furniture-02.png" alt="" width="100%" height="100%">
  <div class="contact-menu-bars-custom">
    <span style="color:#262626">(+612) 2531 5600</span>
    <span style="color:#262626">info@la-studioweb.com</span>
    <span style="color:#777">PO Box 1622 Colins Street West</span>
  </div>
  <div class="box-icon-menu-bars-custom">
    <span>Google maps</span>
    <div class="icons-menu-bars-custom">
      <div class="icon-menu-bars-custom"><i class="fab fa-facebook-f"></i></div>
      <div class="icon-menu-bars-custom"><i class="fab fa-twitter"></i></div>
      <div class="icon-menu-bars-custom"><i class="fab fa-pinterest-p"></i></div>
      <div class="icon-menu-bars-custom"><i class="fab fa-instagram"></i></div>
      <div class="icon-menu-bars-custom"><i class="fab fa-behance"></i></div>
    </div>
  </div>
</div>
